@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 85px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    padding: 1em;
    gap: 1em;
    margin: 0px 10px;
    padding: 0px 10px;
    padding-bottom: 20px;
    height: max(calc(100% - var(--header-height)), 30%);
    overflow-y: hidden;
}

.lexical-analysis-table-container {
    overflow-y: scroll;
    margin-bottom: 10px;
    flex-grow: 1;
}

.text-editor-container {
    position: relative;
    margin: 5px;
    background-color: #151718;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 98%;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#textarea-element {
    font-family: 'Times New Roman', Times, serif;
    overflow-y: scroll;
}

.cm-editor .cm-content {
    font-family: 'Arial';
}

#top-bar {
    background-color: #101019;
    border-bottom: 2px solid #101019;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.lexical-analysis-container {
    width: 30%;
    height: 98%;
    border-radius: 20px;
    background: rgba(10, 10, 20, 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    margin: 5px;
    border: solid 0.5px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.CodeMirror {
    height: 100%;
    width: 100%;
    font-size: 16px;
    flex: 1;
}

body {
    /* background-color: #282828; /* Gruvbox Dark background */
    /* color: #ebdbb2; */
    background-color: #0b021c;
    background-image:
        url('/assets/grid.png'),
        radial-gradient(circle at -20% 1000%, #ff0000, #0b021c);
    background-position: center;
    background-size: cover;
    color: #cdd6f5;
    margin: 5px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    height: 100vh;
    overflow: hidden;
}

th {
    width: 100%;
    padding: 5px;
}

#th-line-number {
    width: 30px;
}

td {
    text-align: center;
    width: 50px;
}

#lexical-elements-table tr:nth-child(odd) td {
    border: 1px solid #9b091d;
}

#lexical-elements-table tr:nth-child(even) td {
    border: 1px solid #9e8282;
}

.bttn {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    background-color: #ff2f2f;
    color: #fff;
    border: solid 1px #ff2f2f;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow:
        0 0 10px #ff2f2f,
        0 0 30px rgba(255, 47, 47, 0.3);
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.bttn:hover {
    cursor: pointer;
    box-shadow:
        0 0 20px #ff2f2f,
        0 0 60px #ff2f2f;
    transform: scale(1.05);
}

#analyze-bttn {
    transform: scale(0.98);
}
#analyze-bttn:hover {
    transform: scale(1.02);
}

.kodchasan-bold {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    font-style: normal;
}

input:disabled {
    background-color: #181826;
    color: #181826;
}
.codemirror_highlight {
    background-color: #ff00006d;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #800011;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff2f2f;
    box-shadow: 0 0 10px #ff2f2f;
}

header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.sona-image {
    height: 40px;
    width: auto;
    filter: drop-shadow(0 0 2px #ff0022)
        drop-shadow(0 0 7px rgba(255, 0, 34, 0.308));
    transition: filter 0.3s ease;
}
.sona-image:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px #ff002293) drop-shadow(0 0 20px #ff0022b2);
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    /* border-bottom: 1px solid rgba(255, 47, 47, 0.3); */
    margin: 0px;
    height: var(--header-height);
}
#btn-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#analyze-bttn,
#sample-bttn {
    height: 100%;
    margin: 5px;
}
#sample-bttn {
    background-color: #800011;
    border-color: #800011;
    box-shadow:
        0 0 10px #800011,
        0 0 30px rgba(123, 22, 22, 0.3);
}
#sample-bttn:hover {
    cursor: pointer;
    box-shadow:
        0 0 20px #800011,
        0 0 60px #7a1515;
    transform: scale(1.05);
}
#up-down {
    display: flex;
    flex-direction: column;
}
.spinner-btn {
    background-color: #800011;
    color: white;
    height: 100%;
    width: 20px;
    border-radius: 7px;
    box-shadow:
        0 0 10px #800011,
        0 0 30px rgba(123, 22, 22, 0.3);
    border: solid 1px;
    border-color: #800011;
}
.spinner-btn:hover {
    cursor: pointer;
    box-shadow:
        0 0 20px #800011,
        0 0 60px #7a1515;
    transform: scale(1.04);
    color: #9f4242;
}

input[type='file'] {
    height: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

label[for='import-btn'] {
    position: absolute;
    right: 20px;
    padding: 10px 20px;
    z-index: 1;
}

#button-div {
    display: flex;
    gap: 2px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

#loading-indicator {
    padding: 1rem;
    font-weight: bold;
    color: #555;
}

#parser-log {
    width: 50%;
    height: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: hsla(274, 72%, 6%, 80%);
    border: 1px solid #5a4754;

    overflow: hidden;
}

#parser-log-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    height: 100%;
}

#parser-log-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#parser-log-header * {
    font-size: 14px !important;
}

#syntax-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    overflow: scroll;
    gap: 10px;
}

.syntax-card {
    color: lightgray;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 700;

    hr {
        color: rgba(255, 255, 255, 60%);
        margin: 10px 0px;
    }
}

.syntax-card-prod {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;

    div {
        padding: 5px;
        border-radius: 10px;
        font-size: 12px;
    }
}

.line-number {
    text-align: right;
}

.terminal-card {
    background-color: hsla(159, 51%, 12%, 60%);

    .syntax-card-prod div {
        background-color: hsl(158, 51%, 20%, 60%);
    }
}

.terminal-lexeme {
    background-color: hsl(158, 51%, 20%, 60%);
    padding: 5px;
    border-radius: 10px;
}

.terminal-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.epsilon-card {
    background-color: hsla(188, 100%, 11%, 60%);

    .syntax-card-prod div {
        background-color: hsla(188, 100%, 21%, 60%);
    }
}

.error-message {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.error-card {
    background-color: hsla(344, 64%, 50%, 60%);

    .syntax-card-prod div {
        background-color: hsla(344, 64%, 60%, 60%);
    }
}

.hidden {
    display: none;
}

#parse-console-btn {
    margin: 0px auto;
    width: 80%;
}

input[type='radio']:not(:checked) + label.bttn {
    background-color: #800011;
    border-color: #800011;
    box-shadow:
        0 0 10px #800011,
        0 0 30px rgba(123, 22, 22, 0.3);
}

input[type='radio']:not(:checked) + label.bttn {
    cursor: pointer;
    box-shadow:
        0 0 20px #800011,
        0 0 60px #7a1515;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}
