@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
   
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    padding: 1em;
    gap: 1em;
    margin: 10px;
    padding: 10px;
    max-height: 90vh;
    overflow-y: hidden;
}

.lexical-analysis-table-container {
    overflow-y: scroll;
    height: 80%;
}

.text-editor-container {
    margin:5px;
    background-color: #151718;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 500px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#textarea-element{
    overflow-y: scroll;
}

#top-bar {
    background-color: #101019;
    border-bottom: 2px solid #101019;
    font-weight: bold;
    font-size: 30px;    
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.lexical-analysis-container {
    width: 30%;
    height: 500px;
    border-radius: 20px;
    background: rgba(10, 10, 20, 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    margin: 5px;
    border: solid 0.5px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
   
}
.CodeMirror {
    height: 100%;
    width: 100%;
    font-size: 16px;
    flex: 1;
    
}

body {
    /* background-color: #282828; /* Gruvbox Dark background */
    /* color: #ebdbb2; */
    background-color: #0B021C;
    background-image: url("/assets/grid.png"), radial-gradient(circle at -20% 1000%, #ff0000, #0B021C);
    background-position: center;
    background-size: cover;
    color: #cdd6f5;
    margin: 5px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

th {
    width: 100%;
    padding: 5px;
}

#th-line-number {
    width: 30px;
}

td{
    text-align: center;
    width: 50px;
}

.td-color-1 {
    border: 1px solid #9b091d;
}

.td-color-2 {
    border: 1px solid #9e8282;
}

.bttn {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    background-color: #ff2f2f; 
    color: #fff;
    border: solid 1px #ff2f2f;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff2f2f, 0 0 30px rgba(255, 47, 47, 0.3);
    transition: all 0.3s ease-in-out;
}

.bttn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #ff2f2f, 0 0 60px #ff2f2f;
    transform: scale(1.05); 
}
#analyze-bttn{
    transform: scale(0.98);
}
#analyze-bttn:hover{
    transform: scale(1.02);
}

.kodchasan-bold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input:disabled{
    background-color:#181826;
    color:#181826;
}
.codemirror_highlight{
    background-color:#ff00006d;
}


::-webkit-scrollbar {
    width: 8px;               
    height: 8px;             
}


::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}


::-webkit-scrollbar-thumb {
    background-color: #800011;      
    border-radius: 10px;            
    border: 2px solid transparent;  
    background-clip: content-box;   
}


::-webkit-scrollbar-thumb:hover {
    background-color: #ff2f2f;      
    box-shadow: 0 0 10px #ff2f2f;  
}

{

    scrollbar-width: thin; 
  
    scrollbar-color: #ff2f2f rgba(0, 0, 0, 0.3); 
}


header {
    display: flex;
    justify-content: flex-end; 
    padding-bottom: 20px;
    margin-bottom: 30px;
   
}

.sona-image {
    height: 40px; 
    width: auto;  
    filter: drop-shadow(0 0 2px #ff0022) drop-shadow(0 0 7px rgba(255, 0, 34, 0.308));
    transition: filter 0.3s ease;
}
.sona-image:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px #ff002293) drop-shadow(0 0 20px #ff0022b2);
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;    
    padding: 10px 10px;      
    /* border-bottom: 1px solid rgba(255, 47, 47, 0.3); */
    margin-bottom: 10px;       
}
