.main-container {
    display: flex;
}

#textarea-element, #lexical-elements-table {
    width: 65%;
    max-height: 300px;
    overflow-y: scroll;
}

.lexical-analysis-container {
    width: 35%;
    height: 300px;
}
.CodeMirror {
    height: 500px;      /* or any fixed height */
    width: 1000px;       /* or 100%, or any value */
    border: 1px solid #444;
    font-size: 16px;
}
body {
    background-color: #282828;   /* Gruvbox Dark background */
    color: #ebdbb2; 
}

.bttn {
    background-color: #ff2f2f;   /* Gruvbox Dark background */
    color: #000; 
    border: solid 1px #ff2f2f;
    padding: .5em;
    border-radius: 10px;
}

.bttn:hover {
    opacity: .8;
    cursor: pointer;
}